@model LLVGFJCOJDMR.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="card">
        <div class="card-header">
            <h1 class="card-text col-md-12">Detalles de Cliente</h1>
        </div>
        <div class="card-body row">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.LastName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Email)
                </dd>
            </dl>
            <div class="col-md-12" style="margin-top:10px;">
                @await Html.PartialAsync("_PhonesNumbers", Model.PhoneNumbers)
            </div>
            <div class="col-md-6" style="margin-top:10px;">
                <a class="btn btn-primary" style="width:100%;" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>
            </div>
            <div class="col-md-6" style="margin-top:10px;">
                <a class="btn btn-secondary" style="width:100%;" asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>

