@model IEnumerable<LLVGFJCOJDMR.Models.Customer>

@{
    ViewData["Title"] = "Clientes";
}

<div class="row">
    <form class="card" asp-action="Index" method="GET" style="margin-bottom:10px;">
        <div class="card-body row">
            <div class="form-group col-md-4">
                <label class="control-label">Nombre</label>
                <input type="text" name="FirstName" class="form-control" />
            </div>
            <div class="form-group col-md-4">
                <label class="control-label">Apellido</label>
                <input type="text" name="LastName" class="form-control" />
            </div>
            <div class="form-group col-md-4">
                <label class="control-label">Email</label>
                <input type="text" name="Email" class="form-control" />
            </div>
            <div class="form-group col-md-8">
                <label class="control-label">Cantidad Reg.</label>
                <select name="Take" class="form-control">
                    <option value="2">2</option>
                    <option selected value="20">20</option>
                    <option value="50">50</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <input style="width:100%; margin-top:23.5px;" type="submit" value="Buscar" class="btn btn-primary" />
            </div>
        </div>
    </form>
    <div class="card">
        <div class="card-header row">
            <h1 class="card-text col-md-12">Clientes</h1>
        </div>
        <div class="card-body row">
            <p class="col-md-12">
                <a class="btn btn-success" style="width:100%;" asp-action="Create">Create New</a>
            </p>
            <div class="col-md-12 table-responsive">
                <table class="table table-secondary table-striped table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LastName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    <table>
                                        <td>
                                            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Editar</a>

                                        </td>
                                        <td>
                                            <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.Id">Detalles</a>

                                        </td>
                                        <td>
                                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>

                                        </td>
                                    </table>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


